@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="CategoryId">Category</label>
                <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control" onchange="this.form.submit()">
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="BrandId">Brand</label>
                <select asp-for="BrandId" asp-items="Model.Brands" class="form-control" onchange="this.form.submit()">
                </select>
            </div>
        </div>
    </div>
</form>

@*https://startbootstrap.com/templates/shop-homepage/*@
<div class="row">

    @foreach (var product in Model.Products)
    {
        <partial name="_ProductPartial" model="product"/>
    }

</div>

<div>
    Toplam Sayfa Adedi: @Model.PaginationInfo.TotalPages <br />
    Şu anki Sayfa:@Model.PaginationInfo.CurrentPage  <br />
    Toplam Öğe Adedi: @Model.PaginationInfo.TotalItems <br />
    Bu Sayfadaki Öge Adedi: @Model.PaginationInfo.ItemsOnPage <br />
</div>